<% @reasons.each do |r| %>
  <div class=" flex w-full h-14 p-4 justify-start items-start gap-6">
    <i class="fa-sharp fa-solid fa-grip-vertical text-zinc-300"></i>
    <div>
      <% if r.active %>
        <%= render partial: 'shared/eye' %>
      <% else %>
        <%= render partial: 'shared/eye_slash' %>
      <% end %>
    </div>
    <div>
      <%=
        r.label
      %>
    </div>
    <div class="text-blue-600 text-base font-semibold">
      Edit
    </div>
  </div>
<% end %>
