<h1 class="font-bold text-3xl leading-[43.20px]">Returns</h1>

<div class="grid grid-cols-2 gap-10 mt-4 p-4 bg-white rounded-xl shadow">
  <div class="text-zinc-800 text-sm leading-tight">
    <h2 class="text-xl font-bold mb-2 text-black">Return Reasons</h2>
    Add or edit return reasons you would like to show the customers during the return request process.
  </div>

  <%= render "form", storefront: @storefront %>
</div>
